.list-container {
  padding: 0px 24px;
  height: 100vh;
  width: 96%;
  border: 1px solid lightgray;
}

h2 {
  border-bottom: 1px solid lightgray;
}

li {
	list-style: none;
}

.card-unselected {
	border: 1px blue solid;
	margin-bottom: 1em;
}

.card-unselected:hover {
	color: blue;
}

.card-selected {
	border: 1px gray solid;
	margin-bottom: 1em;
}

.add-pointer {
	cursor: pointer;
}

.close {
	color: red;
	font-size: 18px;
	padding-left: .5em;
}
